/* Choose pallette E9F8F9 BG(LIGHT) C0EEF2 ITEMS (LIGHT DIMMED) 181823(Black) 537FE7 (Blue)*/
body {
  background: #E9F8F9;
  color: #181823;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #181823;
}

ul {
  margin: 0;
}

.bg-orange {
  background-color: #537FE7;
}

.site-header .navbar-nav .nav-link {
  color: #181823;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline white;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand a{
  color: black;

}

.navbar-nav-right{
  background: #C0EEF2;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.new-button {
  background: #C0EEF2;
  padding: 5px 5px;
  border: 2px solid #537FE7;
  border-radius: 3px;
  margin-bottom: 20px;
}

.new-button a{
  color: black;
  font-weight: bold;

}

.new-button a:hover{
  color: #537FE7;
  text-decoration: underline #537FE7;
  
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.sidebar{
  background: #C0EEF2;
}

.sidebar h3,
.sidebar p {
  color: #000000;
}
.sidebar h3:hover{
  text-decoration: underline black;
}

.sidebar li:hover {
  text-decoration: underline rgb(0, 0, 0);
}


.article-title {
  color: #181823;
}

a.article-title:hover {
  color: #537FE7;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* The side navigation menu */
.sidenav {
  height: 500px; /* 100% Full-height */
  width: 200px;
  background: #C0EEF2;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;

  font-size: 25px;
  color: #181823;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #537FE7;
  text-decoration: underline #537FE7;
}