{% extends "main_website/base.html" %}
{% block statistic %}
  <p class='text-muted'>Global statistic.
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">Number of requests: {{ statistic.number_of_documents }}</li>
      <li class="list-group-item list-group-item-light">Number of users: {{ statistic.number_of_users }}</li>
      <li class="list-group-item list-group-item-light">Number of templates: {{ statistic.number_of_templates }}</li>
    </ul>
  </p>
{% endblock statistic %}